In [3]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [1]:
a='string'
b=[1,2,3,4,'a']
c=10.4
d=(1,2,3,4)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [10]:
# var1 is string
# var2 is string
# var3 is list
# var4 is float

In [11]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [14]:
a=5/2   #2.5
b=5%2   #1
c=5//2  #2
d=5**2  #25
print(a,b,c,d)

2.5 1 2 25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
     element and its data type.

In [29]:
li=[10,10.5,'a','pwskills',True,False,'b',[56,14],(45,12),3]
len(li)
for ele in li:
    print(ele , type(ele))

10 <class 'int'>
10.5 <class 'float'>
a <class 'str'>
pwskills <class 'str'>
True <class 'bool'>
False <class 'bool'>
b <class 'str'>
[56, 14] <class 'list'>
(45, 12) <class 'tuple'>
3 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
a=int(input())
b=int(input())
i=0
while a%b==0:
    a=a/b
    i=i+1
print(i)

20
2
2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for ele in li:
    if ele%3==0:
        print(ele,end=",")

3,6,9,12,15,18,21,24,

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [32]:
#Mutable data types are that data types which can be changed

#Immutable data types are that data types which can't be changed

#Example of Mutable data types
li=[1,2,3,4,5]
li[3]=8
print(li)
#Example of Immutable data types
li1=(1,2,3,4)
#li1[3]=5 will show error
print(li1)

[1, 2, 3, 8, 5]
(1, 2, 3, 4)