Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
 #A database is a organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated.

  #                  SQL                                   NoSQL
 #-----------------------------------------------------------------------------------------------------
 #1.It is a RDBMS                                    1.It is not a RDBMS
 #2.SQL have predetermined Schema                    2.They don't have predetermined schema
 #3.Example-Mysql(done in class)                     3.Example-MongoDB(done in class)

#

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
# DDL stands for Data Definition Language and it contains the sql command that is used to define the Database schema

# Following commands are used in DDL
# 1.CREATE: It is used to create either Database or Table
#           SYNTAX: CREATE DATABASE database_name;
#           EXAMPLE:CREATE DATABASE ayush;
          
# 2.DROP:This command is used to delete objects from the database.
#        SYNTAX: DROP object object_name;
#        EXAMPLE:DROP TABLE class;
# 3.ALTER:This is used to alter the structure of the database.
#         SYNTAX: ALTER TABLE table_name ADD (Columnname_1  datatype, Columnname_2  datatype, â€¦Columnname_n  datatype);
#         EXAMPLE:ALTER TABLE Students ADD Email varchar(255);
# 4.TRUNCATE:This is used to remove all records from a table, including all spaces allocated for the records are removed.
#            SYNTAX: TRUNCATE TABLE  table_name;
#            EXAMPLE:TRUNCATE TABLE ayush;

#

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [5]:
# The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language.
# 1.INSERT: It is used to insert data into a table.
#     EXAMPLE:INSERT INTO Student VALUES ('5','HARSH','BIHAR','XXXXXXXXXX','19');
# 2.UPDATE:It is used to update existing data within a table.
#     EXAMPLE:UPDATE Customer SET CustomerName = 'Satvik', Country = 'INDIA' WHERE CustomerID = 1;
# 3.DELETE:It is used to delete records from a database table.
#     EXAMPLE:DELETE FROM EMPLOyees WHERE NAME = 'Rithvik';

#

Q4. What is DQL? Explain SELECT with an example.

In [14]:
# DQL statements are used for performing queries on the data within schema objects.
# Commands of DQL is
# SELECT:It is used to retrieve data from the database.
#      EXAMPLE:SELECT * FROM table_name;

#

Q5. Explain Primary Key and Foreign Key.

In [7]:
# A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values.
# A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

#

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [12]:
# import mysql.connector
# mydb=mysql.connector.connect(
#     host="localhost",
#     user="abc",
#     password="password"
# )
# mycursor=mydb.cursor()
# mycursor.execute("CREATE DATABASE if not exists test2")
# mydb.close()

# cursor() is a predefined function in a mysql.connector module used to point to the data in the database

# execute() is also predefined function in the database used to execute various command of sql in python

#

Q7. Give the order of execution of SQL clauses in an SQL query.

In [13]:
# Order        Clause                      Function
#  1            FROM             Tables are joined to get the base data.
#  2            WHERE            The base data is filtered.
#  3            GROUP            BY The filtered base data is grouped.
#  4            HAVING           The grouped base data is filtered.
#  5            SELECT           The final data is returned.
#  6            ORDER            BY The final data is sorted.
#  7            LIMIT            The returned data is limited to row count.